<div class="main-menu">
  <button
    pButton
    pRipple
    type="button"
    label=""
    class="p-button-outlined p-button-rounded"
    routerLink=""
  >
    <span class="material-symbols-outlined"> close </span>
  </button>
  <img src="../../../assets/logo/logo.png" alt="" id="logo" />
  <h1>Pratos Principais</h1>
  <div class="plates">
    <div class="plate">
      <img
        id="plate"
        src="../../../assets/plates/plate1.png"
        alt="Meat Plate"
      />

      <h5>Django</h5>
      <p>
        Tacos com massa à base de arroz recheados com filé mignon, cebola, pesto
        de tomate hortelã.
      </p>
      <div class="allergies">
        <img
          id="allergy"
          src="../../../assets/allergies/eggs.png"
          alt=""
          pTooltip="Contém ovo"
          tooltipPosition="bottom"
        />
        <img
          id="allergy"
          src="../../../assets/allergies/cacahuete.png"
          alt=""
        />
      </div>
    </div>
    <div class="plate">
      <img
        id="plate"
        src="../../../assets/plates/plate2.png"
        alt="Meat Plate"
      />
      <h5>Emilia</h5>
      <p>
        Rolinhos de couve roxa com manga e frango temperados no azeite e
        tomilho.
      </p>
      <div class="allergies">
        <img id="allergy" src="../../../assets/allergies/soy.png" alt="" />
      </div>
    </div>
    <div class="plate">
      <img
        id="plate"
        src="../../../assets/plates/plate3.png"
        alt="Meat Plate"
      />
      <h5>Michele</h5>
      <p>
        Arroz basmati acompanhado por frango marinado em molho bechamél,
        cebolinho e açafrão.
      </p>
      <div class="allergies">
        <img id="allergy" src="../../../assets/allergies/crab.png" alt="" />
        <img id="allergy" src="../../../assets/allergies/soy.png" alt="" />
        <img
          id="allergy"
          src="../../../assets/allergies/cacahuete.png"
          alt=""
        />
      </div>
    </div>
    <div class="plate">
      <img
        id="plate"
        src="../../../assets/plates/plate4.png"
        alt="Meat Plate"
      />
      <h5>Jullie</h5>
      <p>
        Mix de legumes com carne de porco cozinhada a vapor, coberto por molho
        de especiarias.
      </p>
      <div class="allergies">
        <img id="allergy" src="../../../assets/allergies/eggs.png" alt="" />
        <img
          id="allergy"
          src="../../../assets/allergies/cacahuete.png"
          alt=""
        />
      </div>
    </div>
    <div class="plate">
      <img
        id="plate"
        src="../../../assets/plates/plate5.png"
        alt="Meat Plate"
      />
      <h5>Gamberi</h5>
      <p>
        Naco de vitela acompanhado por puré de beterraba e azeite aromatizado.
      </p>
      <div class="allergies">
        <img id="allergy" src="../../../assets/allergies/soy.png" alt="" />
      </div>
    </div>
    <div class="plate">
      <img
        id="plate"
        src="../../../assets/plates/plate6.png"
        alt="Meat Plate"
      />
      <h5>Popeye</h5>
      <p>Peito de frango em cama de feijão verde e tomate cherry.</p>
      <div class="allergies">
        <img id="allergy" src="../../../assets/allergies/eggs.png" alt="" />
        <img id="allergy" src="../../../assets/allergies/soy.png" alt="" />
      </div>
    </div>
  </div>
</div>

<link
  rel="stylesheet"
  href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0"
/>
