  <div id="hero">
    <video playsinline muted autoplay loop width="100%" #videoRef>
      <source
        src="../../assets/hero-video/video.mp4"
        type="video/mp4"
      />
    </video>
    <h1>Bem-vindo ao Truta</h1>
    <h2>Explore e delicie-se!</h2>
    
    
  </div>
  <!-- <div class="passion">
    <h2 id="main-text">Our Passion</h2>
    <p>What really gets us going is the dinner itself, which is our passion. Sharing a delicious meal with someone you care about is a certain way to forge bonds and make memories that will last a lifetime. The best strategy is sharing a delicious meal with wonderful company and sharing stories, secrets, and laughs. We're the perfect way to class up any get-together. Intensely flavorful fare that has structure and is as enjoyable as a friend's laugh. We would love to prepare meals for you anytime you'd want us to.</p>
    <button>
        Menu
    </button>
    carrossel de fotos de amigos
  </div>
  <div class="style">
    <h2>Our style</h2>
    <p>The goal of Truta hasn't changed since the company was founded: to shape perceptions of what constitutes the ideal dinner plate.

        For this reason, when we cook or make anything, we put our whole selves into it. Authenticity at Truta means using only the freshest, most flavorful ingredients.
        Be prepared to be startled by our unique approach. In exchange, we'll introduce you to a new way of life whereby service is a form of care, indulgence is synonymous with sharing, and comfort food can be enjoyed at any time.
    </p>
    <button>
        Reservation
    </button>
  </div>
  <div class="newsletter">
    <h2>Newsletter</h2>
    <p>Are you interested in following the latest developments, events, and campaigns? It's right here!</p>
    <form>
<input type="text" placeholder="Name">
<input type="email" placeholder="Email">
    </form>
    <button>Subscribe</button>
  </div> -->
