<div class="about-us">
  <button
    pButton
    pRipple
    type="button"
    label=""
    class="p-button-outlined p-button-rounded"
    routerLink=""
  >
    <span class="material-symbols-outlined"> close </span>
  </button>
  <h2>'Lorem ipsum dolor sit amet consectetur adipisicing elit'</h2>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium
    perspiciatis, laudantium facere et saepe excepturi facilis? Ipsam assumenda
    hic, sint eius eos velit doloremque. Doloremque saepe perspiciatis omnis
    numquam tempore. <br />
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus
    cumque unde tempora fuga beatae voluptatum laborum atque blanditiis corporis
    odio? Fugiat nihil nesciunt aspernatur nemo quia pariatur ex excepturi nam!
    Qui magnam suscipit quasi, quam alias quae expedita quidem amet aperiam eos
    eaque perspiciatis reiciendis nam optio esse veritatis ea ipsa hic eveniet
    ducimus dolore tenetur. Provident quos nobis nihil. <br />
    Repellat nulla iste nihil veniam eos maxime dicta aspernatur itaque velit
    assumenda quis distinctio eius adipisci, exercitationem repudiandae eligendi
    incidunt, dolorum similique. Rem aspernatur iste minima quia, eum cumque
    inventore. Quia maiores natus culpa illum, quo dolores tempore libero quasi
    aperiam sed expedita necessitatibus! Doloremque soluta dolorum impedit,
    eaque fuga, quibusdam ab quaerat nostrum eligendi unde officia quae nulla
    labore!
  </p>
  <img src="../../assets/history/restaurant.jpg" alt="restaurant" />
</div>

<link
  rel="stylesheet"
  href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0"
/>
