<div class="team">
  <button
    pButton
    pRipple
    type="button"
    label=""
    class="p-button-outlined p-button-rounded"
    routerLink=""
  >
    <span class="material-symbols-outlined"> close </span>
  </button>
  <h2>A nossa equipa!</h2>
  <p-carousel
    [value]="team"
    [numVisible]="2"
    [numScroll]="1"
    [responsiveOptions]="responsiveOptions"
  >
    <ng-template let-photo pTemplate="item">
      <div class="product-item">
        <div class="product-item-content">
          <div class="mb-3" id="photo">
            <img src="{{ photo.image }}" alt="image" class="product-image" />
          </div>
          <div id="quote">
            <h4 class="mb-1">{{ photo.quote }}</h4>
          </div>
          <div id="name">
            <h5 class="mb-1">{{ photo.name }}</h5>
          </div>
        </div>
      </div>
    </ng-template>
  </p-carousel>
</div>

<link
  rel="stylesheet"
  href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0"
/>
