<div class="team">
  <button
    pButton
    pRipple
    icon="pi pi-arrow-left"
    type="button"
    label="Voltar"
    class="p-button-outlined p-button-rounded"
    routerLink=""
  ></button>
  <h2>A nossa equipa!</h2>

  <div class="chef">
    <div class="text">
      <h3>"Lorem ipsum dolor sit amet, consectetur adipisicing elit"</h3>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Id, mollitia
        molestiae magni sint porro omnis amet tempora. Iure recusandae laborum
        minima expedita quaerat a repellendus. Vel officiis explicabo suscipit
        ex.
      </p>
    </div>
    <div class="photo">
      <img src="../../assets/team/chef1.jpg" alt="Chef" />
    </div>
  </div>
  <div class="chef" id="chef2">
    <div class="text">
      <h3>"Lorem ipsum dolor sit amet, consectetur adipisicing elit"</h3>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Id, mollitia
        molestiae magni sint porro omnis amet tempora. Iure recusandae laborum
        minima expedita quaerat a repellendus. Vel officiis explicabo suscipit
        ex.
      </p>
    </div>
    <div class="photo">
      <img src="../../assets/team/chef2.jpg" alt="Chef" />
    </div>
  </div>
  <div class="chef">
    <div class="text">
      <h3>"Lorem ipsum dolor sit amet, consectetur adipisicing elit"</h3>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Id, mollitia
        molestiae magni sint porro omnis amet tempora. Iure recusandae laborum
        minima expedita quaerat a repellendus. Vel officiis explicabo suscipit
        ex.
      </p>
    </div>
    <div class="photo">
      <img src="../../assets/team/chef3.jpg" alt="Chef" />
    </div>
  </div>
</div>
